extends ../layouts/common.pug

block content
  form(action="/books/"+id+"/update",method="POST")
    label(for="uptitle") UpdateTitle :
    input#title(name="uptitle",type="text",class="form-control")
    button(class="btn btn-primary btn-lg mt-1") Update